body {
font-family: lato;
}

input {
    background-color: white;
    border: none;
    border-radius: 8px;
    width: 500px;
    height: 50px;
}

a.button-sign-in {
    background-color: $main-blue;
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 150px;
}
a.brand {
    margin-left: 150px;
}
button {
    background-color: $main-blue;
    height: 55px;
    width: 180px;
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    font-size: 18px;
    // padding-top: 5px;
    cursor: pointer;

}
.circle {
    padding: 0 10px;
}

