header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: $bg-greyish;
  z-index: 500;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
    ul {
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-between;
      padding-left: 0;
        li {
            cursor: pointer;
        }
    }
}
